#!/bin/bash

ALIAS_FILE=$HOME/aliases/.aliases

# ADD ALIAS
function aa {
	echo "alias $1='${@:2}'" >> $ALIAS_FILE
	
	source $ALIAS_FILE
	
	tail -n 5 $ALIAS_FILE
}

alias '?'='cat $ALIAS_FILE'
alias s='source $ALIAS_FILE'
alias ga='gedit $ALIAS_FILE'

alias c='clear'
alias ai='_ apt-get install'
alias au='_ apt-get update'
alias a='_ apt-get'
alias cdc='cd $HOME/code'

function port {
	sudo netstat -nlp tcp | grep :$1
}
