#!/bin/bash

# ADD ALIAS
function aa {
	aliasesFile=$HOME/.aliases
	
	echo "alias $1='${@:2}'" >> $aliasesFile
	
	source $aliasesFile
	
	tail -n 5 $aliasesFile
}

alias '?'='cat $HOME/.aliases'
alias s='source $HOME/.aliases'
alias ga='gedit $HOME/.aliases'

alias c='clear'
alias ai='_ apt-get install'
alias au='_ apt-get update'
alias a='_ apt-get'
alias cdc='cd /home/sebasoler/code'

function port {
	sudo netstat -nlp tcp | grep :$1
}
